{% extends "layout.html" %}


{% block content %}
<h1>Add Employee</h1>
<form method="post">
    

    <div class="mb-3">
        <label for="FB_DATE" class="form-label">date</label>
        <div class="col-sm-10">
        <input   type="text"  class="form-control" id="FB_DATE" name="FB_DATE" >      
      </div>
    </div>


    <div class="mb-3">
        <label for="FB_HOME_TEAM" class="form-label">Home Team</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_HOME_TEAM"  name='FB_HOME_TEAM' >      
      </div> 
    </div>



    <div class="mb-3">
        <label for="FB_AWAY_TEAM" class="form-label">Away Team</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_AWAY_TEAM"  name='FB_AWAY_TEAM' >   <!---data number must match row --> 
      </div>
    </div>


    <div class="mb-3">
        <label for="FB_H_CONTINENT" class="form-label">Home Team Continent</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_H_CONTINENT"  name='FB_H_CONTINENT' >   <!---data number must match row --> 
      </div>
    </div>


    <div class="mb-3">
        <label for="FB_A_CONTINENT" class="form-label">Away Team Continent</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_A_CONTINENT"  name='FB_A_CONTINENT' >   <!---data number must match row --> 
      </div>
    </div>

    <div class="mb-3">
        <label for="FB_HT_SCORE" class="form-label">Home Team Score</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_HT_SCORE"  name='FB_HT_SCORE' >   <!---data number must match row --> 
      </div>
    </div>

    <div class="mb-3">
        <label for="FB_AT_SCORE" class="form-label">Away Team Score</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_AT_SCORE"  name='FB_AT_SCORE'>
      </div>
    </div> 


    <div class="mb-3">
        <label for="FB_TOURNAMENT" class="form-label">Tournament</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_TOURNAMENT"  name='FB_TOURNAMENT'>
      </div>
    </div> 
      

    <div class="mb-3">
        <label for="FB_CITY" class="form-label">City</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_CITY"  name='FB_CITY'>   <!---data number must match row --> 
      </div>
    </div>


    <div class="mb-3">
        <label for="FB_COUNTRY" class="form-label">Country</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_COUNTRY"  name='FB_COUNTRY'>   <!---data number must match row --> 
      </div>
    </div>



    <div class="mb-3">
        <label for="FB_N_LOCATION" class="form-label">Location</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_N_LOCATION"  name='FB_N_LOCATION' >   <!---data number must match row --> 
      </div>
    </div>


    <div class="mb-3">
        <label for="FB_SHOOT_OUT" class="form-label">Shoot Out</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_SHOOT_OUT"  name='FB_SHOOT_OUT' >   <!---data number must match row --> 
      </div>
    </div>


    <div class="mb-3">
        <label for="FB_HT_RESULT" class="form-label">Home Team Result</label>
        <div class="col-sm-10">
        <input  type="text"  class="form-control" id="FB_HT_RESULT"  name='FB_HT_RESULT' >   <!---data number must match row --> 
      </div>
    </div>


    <button type="submit" class="btn btn-primary" >Success</button>
    <button type="button"> <a href='/'class="btn btn-secondary btn-sm">Cancel</a></button>
     
    </form

{% endblock content %}
